name: Build the library

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Install dependencies
      run: npm install

    - name: Check code style
      run: npm run check

    - name: Build
      run: npm run compile

    - name: Test
      run: npm run test